﻿@model MailDropReader.Models.MailModel

<pre><strong>   From:</strong> @Model.From</pre>
<pre><strong>     To:</strong> @Model.To</pre>
<pre><strong>    BCC:</strong> @Model.BCC</pre>
<pre><strong>Subject:</strong> @Model.Subject</pre><br />

<pre>@Model.Body</pre>